* {
    margin: 0;
}
html, body {
    height:100%;
}
@font-face {
    font-family: IkeaRegular;
    src: url("Font/NotoIKEALatin-Regular.ttf");
}
@font-face {
    font-family: IkeaItalic;
    src: url("Font/NotoIKEALatin-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: IkeaBoldItalic;
    src: url("Font/NotoIKEALatin-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: IkeaBold;
    src: url("Font/NotoIKEALatin-Bold.ttf");
    font-weight: bold;
}
body {
    font-family: IkeaRegular, IkeaItalic, IkeaBoldItalic, IkeaBold;
    background-image: url("Images/wallpaper.jpg");
    background-size: cover;
    resize: both;
    overflow: scroll;
}
header {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 10px;
}
nav a:visited, nav a:link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav > ul {
    display: inline;
    padding: 0;
}
nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0px 10px 0 10px;
    border-style: solid;
    border-width: 1px;
    padding: 2px 5px 2px 5px;
    background-color: rgb(128, 89, 89);
    
}
#mainHome {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: white;
    border-style: solid;
}
h1 {
    text-align: center;
}
footer {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
}